[Unit]
Description=Create a borg backup of {{ stack_systemd_borg__backup_path }}
Conflicts={{ stack_common__systemd_unit_name }}.service {{ stack_common__systemd_unit_name }}.timer
After={{ stack_common__systemd_unit_name }}.service

[Service]
ExecStart={{ stack_systemd_borg__repo_path }}/{{ stack_systemd_borg__backup_script_name }}
ExecStopPost=systemctl start {{ stack_common__systemd_unit_name }}.timer
