---
version: "{{ stack_systemd_docker__compose_version }}"

services:
  {% for service in stack_systemd_docker__services %}
  {{ service.key }}:
    {% if service.image is defined %}
    image: {{ service.image }} 
    {% endif %}
    {% if service.build is defined %}
    build: {{ service.build }} 
    {% endif %}
    restart: {{ stack_systemd_docker__compose_restart }}
    container_name: {{ service.container_name }}
    {% if service.user is defined %}
    user: "{{ service.user }}"
    {% endif %}
    labels:
      zkygr.container.stack_name: "{{ stack_common__stack_name }}"

    {% if service.ports is defined and service.ports|length %}
    ports:
      {% for port_string in service.ports %}
      - {{ port_string }}
      {% endfor %}
    {% endif %}

    {% if service.volumes is defined and service.volumes|length %}
    volumes:
      {% for volume in service.volumes %}
      - type: {{ volume.type | default(stack_systemd_docker__volume_type_default) }}
        source: {{ volume.source }}
        target: {{ volume.target }}
        read_only: {{ volume.read_only | default(false) }}
      {% endfor %}
    {% endif %}

    {% if service.environment is defined and service.environment|length %}
    environment:
      {% for variable in service.environment %}
      {{ variable.key }}: "{{ variable.value }}"
      {% endfor %}
    {% endif %}
  {% endfor %}

{% if stack_systemd_docker__volumes is defined and stack_systemd_docker__volumes|length %}
volumes:
  {% for volume in stack_systemd_docker__volumes %}
  {{ volume.key }}:
    {% if volume.name is defined %}
    name: {{ volume.name }} 
    {% endif %}
    external: {{ volume.external | default(false) }} 
  {% endfor %}
{% endif %}
