[Unit]
Description=Restart every {{ stack_systemd_docker__timer_on_unit_inactive_sec }} seconds the stack
After=docker.service
Requires=docker.service

[Timer]
OnUnitInactiveSec={{ stack_systemd_docker__timer_on_unit_inactive_sec }}

[Install]
WantedBy=timers.target
