[Unit]
Description=Runs the compose file at {{ stack_systemd_docker__compose_file }}
After=docker.service
Requires=docker.service

[Service]
RestartSec={{ stack_systemd_docker__service_unit_restart_sec }}
Restart={{ stack_systemd_docker__service_unit_restart }}
ExecStart=/usr/bin/docker compose \
  -f '{{ stack_systemd_docker__compose_file }}' up \
  --build \
  --always-recreate-deps \
  --abort-on-container-exit
ExecStop=/usr/bin/docker compose \
  -f '{{ stack_systemd_docker__compose_file }}' down

[Install]
WantedBy=default.target
