### REQUIRED
namespace: zkygr
name: container
# version is set in the cicd pipeline
version: "{{ tag }}"
readme: README.md
authors: ["Kay Gerlitzki <mail@kygr.org>"]

### OPTIONAL
description: This collection bundles a set of roles to manage a docker environment inside of proxmox virtual machines.
license_file: "LICENSE"
tags: ["container", "compose", "stack"]
repository: https://gitlab.com/ninjadogs/ansible-collection-container
homepage: https://gitlab.com/ninjadogs/ansible-collection-container/-/blob/main/README.md
documentation: https://gitlab.com/ninjadogs/ansible-collection-container/-/blob/main/README.md
issues: https://gitlab.com/ninjadogs/ansible-collection-container/-/issues

# Collections that this collection requires to be installed for it to be usable. The key of the dict is the
# collection label 'namespace.name'. The value is a version range
# L(specifiers,https://python-semanticversion.readthedocs.io/en/latest/#requirement-specification). Multiple version
# range specifiers can be set and are separated by ','
dependencies: {}

# A list of file glob-like patterns used to filter any files or directories that should not be included in the build
# artifact. A pattern is matched from the relative path of the file or directory of the collection directory. This
# uses 'fnmatch' to match the files or directories. Some directories and files like 'galaxy.yml', '*.pyc', '*.retry',
# and '.git' are always filtered
build_ignore: []
